.sam-photo {
    width: 250px;
    height: 250px;
    background-image: url(/pictures/Sam\ Buckeye\ Lake1.jpg);
    position: absolute;
    background-size: cover;
    margin-top: 250px;
    margin-left: 440px;
    z-index: 3;
    box-shadow: 5px 5px 10px white;
    border-radius: 50%;
}

.about {
    width: 900px;
    height: 350px;
    margin-top: 275px;
    margin-left: 450px;
    background-color: #67CFD0;
    position: absolute;
    border-radius: 50%;
}

p {
    position: relative;
    width: 400px;
    margin-top: 75px;
    margin-left: 300px;
    word-wrap: normal;
    font-size: 20pt;
    font-family: 'Teko', sans-serif;
    color: white;
}