.link-container{
    position: absolute;
    
    justify-content: space-between;
    margin-left: 55px;
    margin-top: 150px;
    z-index: 5;
    font-size:32pt;
    font-family: 'Orbitron',
    sans-serif;
    font-style: italic;
    color: #67CFD0;
    text-shadow: 2px 2px white;

}

a:link, a:visited, a:active {
    text-decoration: none;
    color: #67CFD0;
}
.home {
    
    margin-bottom: 150px;
}

.about-me {
    margin-bottom: 150px;
}

.resume {
    margin-bottom: 150px;
}

.contact {
    margin-bottom: 150px;
}

.portfolio {
    margin-bottom: 150px;
}

.container{
    background-image: url("Plam\ Trees.png");
    width: 100vw;
    height: 100vh;
    position: absolute;
    z-index: 2;
}

